* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --main-color: #fb86a3;
  --gray-35: #595959;
  --gray-62: #9d9d9d;
  --gray-84: #d7d6d4;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  font-family: "Pretendard";
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

body {
  display: flex;
  min-width: 390px;
  max-width: 450px;
  height: 100%;
  background-color: var(--white);
  margin: 0 auto;
}
